@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Official Title: <a href="@ViewBag.SelectedBill["last_version"]["urls"]["pdf"]" target="_newtab">@ViewBag.SelectedBill["official_title"]</a></h3>

<button onclick="$('#bill-text').toggle()">Reveal Bill Text</button>

<p id="bill-text" style="display: none;">
    @ViewBag.BillText
</p>