<h3>Official Title: <a href="@ViewBag.SelectedBill["last_version"]["urls"]["pdf"]" target="_newtab">@ViewBag.SelectedBill["official_title"]</a></h3>

<div class="@string.Concat("Bill", ViewBag.ThisColumn)">
    <button onclick="$('.@string.Concat("Bill", ViewBag.ThisColumn) p').toggle()">Reveal Bill Text</button>
    <p class="bill-text" style="display: none;">
        @ViewBag.BillText
    </p>
</div>