<h4>@ViewBag.Committee["name"]</h4>
@if(!ViewBag.IsSubCommittee)
{
    <h5>Subcommittees</h5>
    <ul>
        @foreach(var committee in ViewBag.SubCommittees)
        {
            <li>@committee["name"]</li>
        }
    </ul>
}
else
{
    <h4>This is a subcommittee, the parent committee is @ViewBag.ParentCommittee["name"]</h4>
}