@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="view-history-form">
    @Html.Partial("ViewHistory")
</div>
<a  onclick="updateViewHistory()">Update</a>

<div class="forms">
    <div id="legislator-zip-form">
        <form class="legislator-zip" action="/Home/LocateLegislator" method="post">
            <div class="form-group">
                <label for="zip" class="control-label">Zip code Lookup</label>
                <input name="zip" type="number" class="form-control" />
            </div>
            <div>
                <button class="btn btn-lg btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

<div id="lookup">

</div>
<div class="row" id="result-container">
    <div class="col-sm-4" id="result0">
    </div>
    <div class="col-sm-4" id="result1">
    </div>
    <div class="col-sm-4" id="result2">
    </div>
</div>


