@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Committees</h1>
<ul>
    @foreach (var committee in ViewBag.Committees)
    {
        <li>@committee["name"] - </li>

    }
</ul>
<h3>Bills</h3>
<ul>
    @foreach (var bill in ViewBag.Bills)
    {
        @if(bill["short_title"] != null)
        {
        <li>@bill["short_title"]</li>
        }
        else
        {
            <li>@bill["official_title"]</li>

        }

    }
</ul>
<img class="img-thumbnail" src ="@ViewBag.Image" />