@foreach (var item in ViewBag.Response)
{
    <p><a class="legislator-name" onclick="legislatorDetail('@item["bioguide_id"]')">@item["first_name"] @item["last_name"]</a></p>
    <span id='@item["bioguide_id"]'></span>
}
