@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Users:</h2>
    @foreach(var user in Model)
    {
        <h3><a href="@Url.Action("Details", new { id = user.UserId })">@user.UserName</a></h3>
    }

<p>@Html.ActionLink("Add new user", "Create")</p>