@{
    ViewData["Title"] = "Account";
}
@using System.Security.Claims

<h2>Account</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    <p><a asp-controller="Account" asp-action="LogOff" class="btn btn-default">Log out</a></p>
}
else
{
    <p>
        <a asp-controller="Account" asp-action="Register">Register</a> |
        <a asp-controller="Account" asp-action="Login">Log in</a>
    </p>
}