@model GovernmentInformation.Models.Query
@{
    ViewData["Title"] = "Query Details";
}
@using GovernmentInformation.Models

<h3>Query: @Model.Description </h3>
<p><a href="@Url.Action("Edit", new { id = Model.QueryId })">Edit Query</a></p>
<p><a href="@Url.Action("Delete", new { id = Model.QueryId })">Delete this query</a></p>