@model IEnumerable<GovernmentInformation.Models.Query>
@{
    ViewData["Title"] = "Queries";
}
<h2>Your Queries:</h2>
@foreach (var query in Model)
{
    <h3><a href="@Url.Action("Details", new { id = query.QueryId })">@query.Description</a></h3>
}

<p>@Html.ActionLink("Add new query", "Create")</p>